---
---


$header-bg-color: #ff5252;
$header-bg-color-secondary: #e8872c;

$section-headings-color: #ffffff;
$body-text-color: #8f8f8f;


@import "{{ site.theme }}";
body {
      background-color: #292929;
    }